<html>
<head>
	{{> dependencies}}
</head>
<body>
{{> header}}

<div class="wraper">
	<div class="row">
		<div class="col-md-2 sidebar">
			<div class="row">
				<div class="col">
					<h5><b>{{user.name}}</b></h5>
					<h6>Balance : </br> <b>Rp. {{#if balance}}{{balance}}{{else}}0{{/if}}</b></h6>
					<button class="danger-btn">Logout</button>
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h4>Income Menu</h4>
					<div class="menu-sidebar">
						<a href="">Add new income</a>
						<a href="">View income reports</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			{{> title-box title="Add New Income"}}
			{{> server-success-message}}
			{{> server-error-message}}
			
			<form action="/income/create" enctype="multipart/form-data" method="POST">
				<div class="form-group row">
				    <label for="inputName" class="col-sm-2 col-sm-2form-label">Cost</label>
				    <div class="col-sm-10">
				      <input type="number" min="0" name="cost" class="text-form-input" placeholder="Cost">
				    </div>
				</div>
				<div class="form-group row">
					<label for="inputUsername" class="col-sm-2 col-form-label">Category</label>
					<div class="col-sm-10">
					 	<select name="category">
					 		{{#each categories}}
					 			<option value="{{this._id}}">{{this.name}}</option>
					 		{{/each}}
					 	</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="inputDate" class="col-sm-2 col-form-label">Date</label>
					<div class="col-sm-10">
					  <input type="date" name="date" class="text-form-input" placeholder="Date">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputNote" class="col-sm-2 col-form-label">Note</label>
					<div class="col-sm-10">
					  <textarea class="text-form-input" rows="5" name="note"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label for="inputFile" class="col-sm-2 col-form-label">File</label>
					<div class="col-sm-10">
					  <input type="file" name="file" placeholder="file">
					</div>
				</div>
				</br>
				<button type="submit" class="btn-simple float-right" style="margin-right: 10px">Save</button>
			</form>
		</div>
	</div>
</div>

</body>
<footer>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="/js/pages/home.js"></script>
</footer>
</html>